.card{
  padding: 15px;
  border-radius: 10px;
  background-color: grey;
  width:20%;
  height: auto;
  margin: 2%;
  float:left;

}

ul{
  list-style-type: none;
  overflow: hidden;
}

li{
  float: left;
  margin: 2%;
}

li a{
  display: block;
  gap: 10px;
  color: black;
}
